<div *ngIf='liftFlag == false' align="center" style="color:red;"><b>Problem Loading Data</b>
    <br>
    <h4>See JSON Data Source</h4> 
</div>

<div *ngIf='liftFlag' id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="d-block w-100" style="display: block;">
                <h1><b>Lift chart</b></h1>
                <br>
                <div width="100%;">
                    <span style="width:10%;float:left; padding-top:25%;font-size:22pt;">
                        <b class="badge blue">
                            <i class="fa fa-line-chart "></i>
                            Lift</b>
                    </span>
                    <span style="width:90%;float:right;">
                        <div *ngIf="liftFlag">
                            <h5 align="center">
                                <span class="badge red" style="font-size:16pt;">Performance
                                  
                                    <i class="fa fa-arrow-circle-up"></i>
                                </span>
                                <br>
                            </h5>

                            <canvas mdbChart [chartType]="chartType_lift" [datasets]="chartDatasets_lift" [labels]="chartLabels_lift" [colors]="chartColors_lift"
                                [options]="chartOptions" [legend]="true" (chartHover)="chartHovered_lift($event)" (chartClick)="chartClicked_lift($event)">
                            </canvas>
                            <br>
                            <h5 align="center">
                                <span class="badge green" style="font-size:16pt;">Percentage
                                    <i class="fa fa-percent"></i>
                                </span>
                                
                            </h5>
                        </div>
                    </span>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="d-block w-100" style="display: block">
                <h1><b>Gain chart</b></h1>
                <br>
                <div width="100%;">
                    <span style="width:10%;float:left; padding-top:25%;font-size:22pt;">
                        <b class="badge blue">
                                <i class="fa fa-line-chart"></i>
                            Gain</b>
                    </span>
                    <span style="width:90%;float:right;">
                        <div *ngIf="liftFlag">
                            <h5 align="center">
                                <span class="badge red" style="font-size:16pt;">Performance
                                    <i class="fa fa-arrow-circle-up"></i>
                                </span>
                            </h5>

                            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                                [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                            <br>
                            <h5 align="center">
                                <span class="badge green" style="font-size:16pt;">Percentage
                                    <i class="fa fa-percent"></i>
                                </span>
                            </h5>
                        </div>
                    </span>
                </div>
            </div>
        </div>


        <div class="carousel-item">
            <div class="d-block w-100" style="display: block">

                <div style="display: block">

                    <h1><b>Confusion Matrix</b></h1>
                    <br>

                    <table class="table table-hover">
                        <thead>
                            <tr class="thead-light">
                                <th id="cm" scope="col">{{cmLabels[0]}}</th>
                                <th id="cm" scope="col">{{cmLabels[1]}}</th>
                                <th id="cm" scope="col">{{cmLabels[2]}}</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr>
                                <th id="cm" scope="row">{{cmData1[0]}}</th>
                                <th id="cm"> <progress max="{{cmTotal}}" value= "{{cmData2[0]}}"> </progress> {{cmData2[0]}}</th>
                                <th id="cm"> <progress max="{{cmTotal}}" value= "{{cmData3[0]}}"> </progress> {{cmData3[0]}}</th>
                                
                            </tr>
                            <tr>
                                <th id="cm" scope="row">{{cmData1[1]}} </th>
                                <th id="cm">  <progress max="{{cmTotal}}" value= "{{cmData2[1]}}"> </progress>{{cmData2[1]}}</th>
                                <th id="cm"> <progress max="{{cmTotal}}" value= "{{cmData3[1]}}"> </progress>{{cmData3[1]}}</th>

                            </tr>


                        </tbody>
                    </table>



                </div>


            </div>
        </div>

        <div class="carousel-item">
            <div class="d-block w-100" style="display: block">
                <h1><b>Data Preview</b></h1>
                <br>

                <table class="table table-hover">
                    <thead class="thead-light"  >
                        <tr *ngFor="let l of sampleDataLabels">
                              <th class="tableStyle"scope="col">{{l}}</th>
                            <!-- <th class="tableStyle" scope="col">Wizard</th>
                            <th class="tableStyle" scope="col">Validation</th>
                            <th class="tableStyle" scope="col">Random</th>
                            <th class="tableStyle" scope="col">Estimation</th>
                            <th class="tableStyle" scope="col">Test</th>
                        </tr> -->
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of samepleData_1">
                           
                            <td>{{r}}</td>
                         
                        </tr>
         

                    </tbody>
                </table>

            </div>

        </div>

    </div>



</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="background-color:#bdd4f9; width:5%;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color:#bdd4f9; width:5%;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>